<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hola a todos desde Spring</div>
        <p th:text=${variable}></p>
        <p> [[${variable}]] </p>
        
        <p> Nombre: <span th:text="${cliente.nombre}"/></p>
    </body>
</html>
